.navigation
{
    overflow: hidden;
    background-color: #102121;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    font-family: 'Outfit';
}

.navigation a 
{
    float: none; /* Remove float to make links stack vertically */
    display: inline-block; /* Display links as inline blocks */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}
  
.navigation a:hover 
{
   background: #102121;
    color: #a8a4a471;
}

#navfacilities
{
    color: rgb(113, 197, 197);
}

#facilities{
    color:#f2f2f2;
    text-align:left;
    font-size: 80px;
    padding-left: 40px;
    font-family: 'Outfit';
    padding-bottom: 20px;
    padding-top: 20px;
    
    }

  h4 {
    border-bottom: 1px  #f2f2f2; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
     } 

body
{
    background-color: #102121;
    font-family: "Outfit";
    color : white;
    margin: 0;
}

#main {
    color:#f2f2f2;
    margin-top: 180px;
    font-family: 'Outfit';
  }

#images
{
    width : 700px;
    height : 591px;
    margin-right: 5%;
}

#content
{
    align-content: center;
    display : grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 100px;
    margin-left : 50px;
}

h2
{
    font-size: 500%;
    text-align: left;
}

footer {
    background-color: #A4B2B8;
    padding: 10px;
    margin-top: 145px;
    }   

    h5 {
        color: #FFFFFF;
        font-family: 'Outfit', Arial, sans-serif;            
        font-size: 30px;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    h6 {
        margin-top: 5px;
        color: #FFFFFF;
        font-family: 'Outfit', Arial, sans-serif;            
        font-size: 20px;
        margin-bottom: 0%;
    }

    .iglink {
        margin-top: 5px;
        display: flex;
        align-items: center;
    }

    .linktoig {
        margin-left: 10px;
    }

    a {
        color: #FFFFFF;
        font-family: 'Outfit', Arial, sans-serif;        
    }
